body {
    font-family: "verdana";
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;
}
h1 {
    font-variant: all-small-caps;
    background-color: red;
}
a:hover {
    background-color: green;
}
.stippeltjesrand {
    border-style: dotted;
}
li.checked {
    background-image: url("checked.jpg");
    background-position: left center;
    background-size: 20px;
    padding-left: 25px;
    background-repeat: no-repeat;
}
ul.checklist > li:not(.checked) {
    background-image: url("unchecked.jpg");
    background-position: left center;
    background-size: 20px;
    padding-left: 25px;
    background-repeat: no-repeat;
}

