header{
    border-bottom: 2px solid black;
    padding-right: 200px;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    text-align: center;

}
li{
    border: 2px solid black;
    transition: 0.2s;
    padding: 10px 0 10px 0;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 110px 10px 110px;
}
li:hover{
    background-color: green;
    transition: 0.2s;
    opacity: 1;
    border-radius: 15px;
}

section{
    display: grid;
    grid-template-rows: 8% 92%;
    padding: 10px 10px 10px 10px;
}
html{
    font-family: "Verdana";
    height: 100vh;

}
body{
    background-color: silver;
    height: 99vh;
    display: flex;
}

<li><a href="WebDev/GastCollege/index.html">Gastcollege</a></li>
